<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Currency Converter</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/materialize.min.css" media="screen"/>
</head>
<body style="height: 100vh; background-color: #F7F7F7">
<div class="container valign-wrapper" style="height: 100%;align-items: center;justify-content: center;">

    <div class="card" style="width: 40%">
        <div class="card-content">
            <span class="card-title center-align" style="margin-bottom: 3rem">Currency Converter</span>
            <form action="#" th:action="@{/convert}" th:object="${conversion}" method="post" class="center-align">
                <div class="row">
                    <div class="input-field col s4">
                        <select th:field="*{fromCurrency}">
                            <option th:each="currency : ${currencies}" th:value="${currency.code}"
                                    th:text="${currency.code}"
                                    th:selected="${currency.code} == ${conversion.fromCurrency}"></option>
                        </select>
                        <label>From currency:</label>
                    </div>

                    <div class="input-field col s8">
                        <input id="amount" type="number" th:field="*{amount}" th:value="${conversion.amount}"/>
                        <label for="amount">Amount:</label>
                    </div>
                </div>

                <div class="row center-align">
                    <button type="submit" class="waves-effect waves-light btn btn-small red darken-1"><i class="material-icons">cached</i></button>
                </div>

                <div class="row">
                    <div class="input-field col s4">
                        <select th:field="*{toCurrency}">
                            <option th:each="currency : ${currencies}" th:value="${currency.code}"
                                    th:text="${currency.code}"
                                    th:selected="${currency.code} == ${conversion.toCurrency}"></option>
                        </select>
                        <label>To currency:</label>
                    </div>

                    <div class="input-field col s8">
                        <input id="result" type="number" th:value="${conversion.result}" readonly="readonly"/>
                        <label for="result">Result:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        &nbsp;
                    </div>
                    <div class="input-field col s6">
                        <a th:href="@{/reset}" class="btn blue-grey lighten-3">Clear</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>
</body>
</html>